<main id="main" class="level">

	{{#if masthead}}
		{{render (concat '@' masthead) }}
	{{/if}}

	<div class="level__wrapper">

		{{#if breadcrumbs}}
			{{render '@breadcrumbs'}}
		{{/if}}

		<div class="row level__row">
			<div class="level__content large-8 large-push-4 columns">
				{{#if title}}
					<h1 class="page-title">{{{title}}}</h1>
				{{/if}}

				{{#each main}}
					{{render (concat '@' this.name) this.context merge=true}}
				{{/each}}
			</div>
			<aside class="level__aside large-3 large-pull-9 columns">
				{{#unless hidenav}}
					{{!render '@page-navigation'}}
				{{/unless}}

				{{#each sidebar}}
					{{render (concat '@' this.name) this.context merge=true}}
				{{/each}}
			</aside>
		</div>
	</div>

	{{#each lower}}
		{{render (concat '@' this.name) this.context merge=true}}
	{{/each}}

</main>