<main id="main" class="landing main">

	<!-- masthead--library -->

	{{render '@questions' }}

	{{render '@quick--wide' }}

	{{render '@media--wide-gallery' gallery }}

	{{render '@child-page-grid' }}

	{{render '@media--wide-video' video }}

	{{render '@featured--wide' }}

	{{render '@wysiwyg--wide' wysiwyg }}

	{{render '@iframe--wide' }}

</main>
