<div class="card card--event" itemscope itemtype="https://schema.org/Event">
	
	<p class="card__date font-h4"><span itemprop="startDate" content="{{ UTC }}">{{{ datetime }}}</span></p>

	<div class="card__content">
	
		<h3 class="card__heading font-h4" itemprop="name">{{{ heading }}}</h3>	

		<p class="card__info">{{{ time }}}</p>
		<p class="card__info" itemscope itemtype="https://schema.org/Place"><span itemprop="name">{{{ location }}}</span></p>

		{{render '@button-fake' cta }}

	</div>

	<a href="{{ cta.url }}" class="card__link" itemprop="url"><span class="show-for-sr">Learn  more about '{{{ heading }}}'</span></a>

</div>