<section class="ism">

	<div class="ism__wrapper wrapper">

		<h2 class="ism__title font-h2 hide-for-large">{{{ title }}}</h2>

		<div class="ism__map">
		
			{{#with map}}<img src="{{ src }}" alt="{{ alt }}" class="ism__image" />{{/with}}

			<ul class="ism__location-list">
				{{#each items}}
				<li class="ism__location-item accordion-item{{#if active}} is-active{{/if}}" data-accordion-item style="left: {{ position.left }}; top: {{ position.top }};">
					<a href="#{{id}}{{@key}}" class="ism__location-link accordion-title" aria-controls="{{@key}}" id="{{@key}}-label" aria-expanded="{{ active }}">
						<span class="trigger">
							{{svg icon}}
							{{svg "minus"}}
						</span>
						<span class="ism__location-name"><span>{{{ title }}}</span></span>
					</a>
				</li>
				{{/each}}
			</ul>
			
		</div>

		<div class="ism__content">

			<h2 class="ism__title font-h2 show-for-large" aria-hidden="true">{{{ title }}}</h2>

			<ul class="ism__accordion accordion" data-accordion{{#if deep}} data-deep-link="true"{{/if}} data-multi-expand="false" data-allow-all-closed="false">

				{{#each items}}
				<li class="ism__item accordion-item{{#if active}} is-active{{/if}}" data-accordion-item>
		
					<a href="#{{id}}{{@key}}" class="ism__heading accordion-title">
						<span class="ism__label font-h4">{{title}}</span>
						{{render '@trigger'}}
					</a>

					<div class="ism__accordion-content accordion-content" data-tab-content id="{{id}}{{@key}}">

						<h3 class="ism__label font-h4 show-for-large">{{{ title }}}</h3>

						<ul class="ism__contact-list">
							{{#each contact}}
							<li class="ism__contact-item">{{render '@menu--tertiary' this merge=true }}</li>
							{{/each}}
						</ul>

						<p class="ism__copy">{{{ copy }}}</p>
						
						{{render '@button--tertiary' cta merge="true" }}
					
					</div>

				</li>
				{{/each}}

			</ul>

			{{render '@button--primary' cta merge="true" }}

		</div>

		

	</div>

</section>





	<ul class="accordions__accordion accordion"
	

		
	</ul>

