<main id="main" class="highlevel main">

	{{render '@masthead--landing' masthead }}

	{{render '@introduction' introduction }}

	{{render '@child-page-grid' }}

	{{render '@media--wide-gallery' gallery }}

	{{render '@wysiwyg--wide' wysiwyg }}

	{{render '@media--wide-video' video }}

	{{render '@storytelling--wide' }}

	{{render '@news--wide' }}

	{{render '@events--wide' }}

	{{render '@contact' }}

</main>
