<main id="main" class="home main">

	{{render '@masthead--home' }}

	{{render '@explore-programs' }}

	{{render '@shortcut' }}

	{{render '@stats--home' }}

	{{render '@interactive-state-map--home' }}

	{{render '@image-cards' }}

	{{render '@news--home' }}

	{{render '@events--home' }}

</main>
