<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- http://microformats.org/wiki/hcard-cheatsheet -->
	<link rel="profile" href="http://microformats.org/profile/hcard" />

	<link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">

	<title>{{ _target.title }} - Preview</title>

	<script type="text/javascript" src="{{ path '/js/plugins/modernizr.js' }}"></script>

	{{#if _target.meta.tailwind }}
		<link href="{{ _config.project.tailwindcdn }}" rel="stylesheet" />
	{{/if}}

	<style type="text/css">
		body {
			{{#if _target.meta.margin }}
				margin: {{ _target.meta.margin }};
			{{ else }}
				padding: 16px;
			{{/if}}
			{{#if _target.meta.background }}
				background-color: {{_target.meta.background}};
			{{/if}}
		}

		.f-component-wrapper {
			position: relative;
		}
	</style>
</head>
<body>

	{{render '@svg' }}

	<div class="f-component-wrapper">
		{{{ yield }}}
	</div>

	<script src="{{ _config.project.jquerycdn }}"></script>

	{{#if _target.meta.scripts}}
		{{#each _target.meta.scripts}}
			<script type="text/javascript" src="../..{{ scriptPath this }}"></script>
		{{/each}}
	{{/if}}

</body>
</html>
