<main id="main" class="landing main">

	{{render '@masthead--landing' masthead }}

	{{render '@introduction' introduction }}

	{{render '@interactive-state-map--wide' map }}

	{{render '@stats--wide' }}

	{{render '@child-page-grid--no-images' }}

	{{render '@wysiwyg--wide' wysiwyg }}

	{{render '@storytelling--wide' }}

	{{render '@news--wide' }}

	{{render '@events--wide' }}

	{{render '@contact' }}

</main>
