<section class="contact wrapper component">

	<div class="contact__wrapper grid-x grid-margin-x">

		<div class="contact__intro cell xsmall-12 large-4 large-offset-1">

			<h2 class="contact__title font-h2">{{{ title }}}</h2>

			<hr />

		</div>

		<div class="contact__content cell xsmall-12 large-5 large-offset-1">

			<h3 class="contact__heading">{{{ heading }}}</h3>

			<p class="contact__address">{{{ address }}}</p>

			<ul class="contact__list">
				{{#each contact}}
				<li class="contact__item">{{render '@menu--tertiary' this merge=true }}</li>
				{{/each}}
			</ul>

			{{#if optional}}
			<div class="contact__optional">{{{ optional }}}</div>
			{{/if}}

			{{#if social}}{{render '@social' social }}{{/if}}

		</div>
		
	</div>
	
</section>