<div class="form__field form__field--is-search{{#if style}} {{style}}{{/if}}">
	<input id="search{{#if formkey}}-{{formkey}}{{/if}}" name="search" type="search" required="required"{{#if disabled}} disabled{{/if}}{{#if placeholder}} placeholder="{{ placeholder }}"{{/if}}>
	<label for="search{{#if formkey}}-{{formkey}}{{/if}}">{{ label }}</label>
	<button type="submit" class="search-button">
		<span class="show-for-sr">Search</span>
		{{svg icon}}
	</button>
</div>
