<form class="form component" action="{{ action }}" method="{{ method }}">

	{{#if h1 }}<h1 class="form__title font-h1">{{{ h1 }}}</h1><hr />{{/if}}
	{{#if title }}<h2 class="form__title font-h2">{{{ title }}}</h2><hr />{{/if}}

	{{#if introduction}}<p class="form__introduction font-intro">{{{ introduction }}}</p>{{/if}}
	{{#if copy }}<p class="form__copy font-body">{{{ copy }}}</p>{{/if}}	

	{{#each rows}}
	<div class="form__row grid-x grid-margin-x">
	 	{{#each this.columns}}
		<div class="form__column cell {{ this.style }}">
			{{render (concat '@' this.name) this.context merge=true }}
		</div>
		{{/each}}
	</div>
	{{/each}}

	<button type="submit" class="btn btn--primary">
		<span class="text">{{{ submit }}}</span>
		<span class="btn__icon">{{svg 'arrow' }}</span>
	</button>

</form>