<main id="main" class="detail">
	
	{{render '@masthead--faculty' masthead }}

	{{render '@breadcrumbs' breadcrumbs }}

	<div class="wrapper">

		<div class="grid-x grid-margin-x">

			<div class="content cell xsmall-12 large-8">

				{{render '@wysiwyg' wysiwyg }}

			</div>

			<div class="rail cell xsmall-12 large-4">

				{{render '@rail-contact' rail-contact }}

				{{render '@callout' callout }}

			</div>

		</div>

	</div>

</main>