<main id="main" class="detail main">
	
	{{render '@masthead--news' masthead }}

	{{render '@breadcrumbs' breadcrumbs }}

	<div class="wrapper">

		<div class="grid-x grid-margin-x">

			<div class="content cell xsmall-12 large-8">

				{{render '@wysiwyg' wysiwyg }}

				{{render '@media--narrow-video' video }}

				{{render '@media--narrow-gallery' gallery }}

				{{render '@news--narrow' news }}

				{{render '@events--narrow' news }}

			</div>

			<div class="rail cell xsmall-12 large-4">

				{{render '@rail-contact' rail-contact }}

				{{render '@callout' callout }}

			</div>

		</div>

	</div>

</main>