<main id="main" class="detail">
	
	{{render '@masthead--detail' masthead }}

	{{render '@breadcrumbs' breadcrumbs }}

	<div class="wrapper">

		<div class="grid-x grid-margin-x">

			<div class="content cell xsmall-12 large-8">

				{{render '@wysiwyg' wysiwyg1 }}

				{{render '@faculty--narrow' faculty }}

				{{render '@wysiwyg' wysiwyg2 }}

				{{render '@form' form }}

				{{render '@media--narrow-video' video }}

				{{render '@media--narrow-gallery' gallery }}

				{{render '@featured--narrow' featured }}

				{{render '@accordion' accordion }}

				{{render '@iframe' iframe }}

				{{render '@storytelling--narrow' storytelling }}

				{{render '@table' storytelling }}

				{{render '@news--narrow' news merge="true" }}

				{{render '@events--narrow' events merge="true" }}

			</div>

			<div class="rail cell xsmall-12 large-4">

				{{render '@nav-rail' nav-rail }}

				{{render '@rail-contact' rail-contact }}

			</div>

		</div>

	</div>

</main>